<div class="container" style="text-align: center;">
    <div class="div" style="margin-top:100px;">
        <div class="card shadow p-3 mb-5 rounded bg-white" style="width: 55rem;">
            <div class="card-body">
                <div style="margin-top: 2px;">
                    <h1>Quick Links </h1>
                </div>

                <button type="button" class="btn btn-primary" routerLink="./beneficiary/add"
                    style="margin-left: 25px;margin-right: 10px; margin-top: 7px;">Add Beneficiary</button>
                <button type="button" class="btn btn-primary" routerLink="./beneficiary/list"
                    style="margin-left: 35px;margin-right:10px; margin-top: 7px;">Beneficiary List &
                    Search</button>
            </div>
        </div>
    </div>

</div>