<h1>Update Beneficiary</h1> <a routerLink="../../list">Return to Home</a>
<h4>Beneficiary Aadhar : {{aadhar}}</h4>
<div style="width: 400px; margin: auto;">
    <div *ngIf="aadhar" class="edit-form">
        <h4></h4>
        <form *ngIf="beneficiary">
            <div class="form-group">
                <label for="title">Aadhar</label>
                <input type="text" class="form-control" id="aadhar" [(ngModel)]="beneficiary.aadhar" name="aadhar" />
            </div>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="beneficiary.name" name="name" />
            </div>
            <div class="form-group">
                <label for="title">Shop</label>
                <input type="text" class="form-control" id="shop" [(ngModel)]="beneficiary.shop" name="shop" />
            </div>
            <div class="form-group">
                <label for="title">Contact</label>
                <input type="text" class="form-control" id="contact" [(ngModel)]="beneficiary.contact" name="contact" />
            </div>

            <button type="submit" (click)="update()">
                Update
            </button>
        </form>

        <h6 *ngIf="status">{{status}}</h6>
    </div>
</div>