<div class="container" style="text-align: center;">
    <div class="div" style="margin-top:100px;">
        <div class="card shadow p-3 mb-5 rounded bg-white" style="width: 55rem;">
            <div class="card-body">
                <div style="margin-top: 2px;">
                    <h1>Quick Links </h1>
                </div>

                <button class="btn btn-primary" routerLink="./shop/add" style="margin-left: 10px;margin-right:10px"> <i
                        class="fas fa-store-alt"></i> Add
                    Shop</button>
                <button class="btn btn-primary" routerLink="./shop/list" style="margin-left: 10px;margin-right:10px"><i
                        class="fas fa-search"></i>Shop List & Search</button>
                <button class="btn btn-primary" routerLink="./user/add" style="margin-left: 10px;margin-right:10px">User
                    Add</button>
            </div>
        </div>
    </div>
</div>