<div class="container">
    <header class="jumbotron" style="background:#80FFE5">
        <h3>Welcome to FoodTracker ! Quality Food <i class="fas fa-seedling"></i> for Everyone</h3>
    </header>

    <div class="row" style="text-align: center">
        <b>Statistics :</b>
        <button type="button" class="btn btn-primary" style="margin-left: 10px;margin-right: 10px">
            <i class="fas fa-university"> </i>Shops Count <span class="badge badge-light">{{scount}}</span>
        </button>

        <button type="button" class="btn btn-primary" style="margin-left: 10px;margin-right: 10px">
            <i class="fas fa-users"></i>Total Beneficiary Count <span class="badge badge-light">{{bcount}}</span>
        </button>
    </div>

    <br>
    <Br>
    <hr>
    <h5>Demo Credentials</h5>
    <div class="row">
        <div class="col">

            <div class="card shadow p-3 mb-5 rounded bg-white">
                <div class="card-body">
                    <h4 class="card-title"> <i class="fas fa-university"></i>
                        Admin Access</h4>
                    <b>
                        <a href="#" class="card-link">Username : admin</a><br>
                        <a href="#" class="card-link">Password : admin123</a>
                    </b>
                    <div class="card-text">
                        <ul>
                            <li>Admin can add New Shop in Particular State/Region</li>
                            <li>Admin can Distribute Food to Shops from Different Regions</li>
                            <li>Admin can Track Shops & Food Distributions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card shadow p-3 mb-5 rounded bg-white">
                <div class="card-body ">
                    <h4 class="card-title"><i class="fas fa-store-alt"></i>
                        Shop Access</h4>
                    <b> <a href="#" class="card-link">Username : store</a><br>
                        <a href="#" class="card-link">Password : store123</a>
                    </b>
                    <div class="card-text">
                        <ul>
                            <li>Shop can add Beneficiary (Customer) with Unique Aadhar Card </li>
                            <li>Shop can Distribute Food to Beneficiary</li>
                            <li>Shop can Track Food Stock & Food Distributions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="jumbotron"
        style="background:url('https://bucketforimagesstore.s3.amazonaws.com/foodproblem.jpg') no-repeat center; height:250px;">
    </header>
</div>