<div class="container">
    <header class="jumbotron">
        <p>Home for Everyone</p>
    </header>

    <button type="button" class="btn btn-primary" style="margin-left: 10px;margin-right: 10px">
        Shops Count <span class="badge badge-light">{{scount}}</span>
    </button>

    <button type="button" class="btn btn-primary" style="margin-left: 10px;margin-right: 10px">
        Total Beneficiary Count <span class="badge badge-light">{{bcount}}</span>
    </button>


    <br>
    <Br>
    <hr>
    <h5>Demo Credentials</h5>
    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Admin Access</h4>
                    <a href="#" class="card-link">Username : admin</a>
                    <a href="#" class="card-link">Password : admin123</a>
                    <div class="card-text">
                        <ul>
                            <li>Admin can add New Shop in Particular State/Region</li>
                            <li>Admin can Distribute Food to Shops from Different Regions</li>
                            <li>Admin can Track Shops & Food Distributions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Shop Access</h4>
                    <a href="#" class="card-link">Username : store</a>
                    <a href="#" class="card-link">Password : store123</a>

                    <div class="card-text">
                        <ul>
                            <li>Shop can add Beneficiary (Customer) with Unique Aadhar Card </li>
                            <li>Shop can Distribute Food to Beneficiary</li>
                            <li>Shop can Track Food Stock & Food Distributions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>