<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">FoodTracker</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="btn btn-primary" style="background: #0ABDF1;margin-left: 5px;" routerLink="admin">Admin
          Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="showStoreBoard">
        <a href="/shop" class="btn btn-primary" style="background: #0ABDF1;margin-left: 5px;" routerLink="shop">Shop
          Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/profile" class="btn btn-primary" style="background: #2BD1CE;margin-left: 5px;"
          routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/stats" class="btn btn-info" class="nav-link" style="margin-left: 5px;"
          routerLink="stats">Information</a>
      </li>
      <!--
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>-->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item" style="margin-left:5px">
        <a href="/register" class="btn btn-primary" style="background: #0ABDF1" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item" style="margin-left:5px">
        <a href="/login" class="btn btn-primary" style="background: yellow; color:black" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

<Br><br><Br>

<div class="container">
</div>

<!-- Footer -->
<footer class="page-footer footer font-small" style="background-color: #343A40; color:white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-12 text-center ">
        <h5 class="text-uppercase">Food Tracker</h5>
        <p></p>
      </div>

    </div>

  </div>
</footer>
<!-- Footer -->